/*sales-uom-page*/
.sales_uom .action-bar{max-width:95%; margin:auto;}
.sales_uom .heading, .uom_settings_page .heading {color: black;font-size: 20px !important;}
.sales_uom .btn{box-shadow: none;}
.sales_uom table thead tr:first-child th{background-color:rgb(110,50,150); color:white;}
.sales_uom table thead tr.filters:last-child th{background-color: #E9EBF5;}
.sales_uom table th, .sales_uom table td{border: 1px solid white;}
#product-child-table tbody tr, .sales_uom table tbody tr:first-child{background-color: #CFD5EA!important;}
.sales_uom table tbody tr{background-color: #E9EBF5!important;}
.sales_uom .order_list td:nth-child(1){width:100%!important}
.sales_uom .table_section tr th:nth-child(1),.sales_uom .table_section tr td:nth-child(1){width:7%!important;}
.sales_uom .container{max-width:100%; padding:0;}
.sales_uom .table_section tr th:nth-child(2),.sales_uom .table_section tr td:nth-child(2){width:0%!important;}
.sales_uom .table_section tr th:nth-child(3),.sales_uom .table_section tr td:nth-child(3){width:28%!important;}
.sales_uom .table_section tr th:nth-child(4),.sales_uom .table_section tr td:nth-child(4){width:15%!important;word-break: break-all;}
.sales_uom .table_section tr th:nth-child(5),.sales_uom .table_section tr td:nth-child(5){width:15%!important;}
.sales_uom .table_section tr th:nth-child(6),.sales_uom .table_section tr td:nth-child(6){width:9%!important;}
.sales_uom .table_section tr th:nth-child(7),.sales_uom .table_section tr td:nth-child(7){width:9%!important;}
.sales_uom .table_section tr th:nth-child(8),.sales_uom .table_section tr td:nth-child(8){width:11%!important;}
.sales_uom .table_section tr th:nth-child(9),.sales_uom .table_section tr td:nth-child(9){width:13%!important;}
.sales_uom .table_section tr th:nth-child(10),.sales_uom .table_section tr td:nth-child(10){width:16%!important;}
.sales_uom .table_section tr th:nth-child(11),.sales_uom .table_section tr td:nth-child(11){width:10%!important;}
.sales_uom .table_section tr th:nth-child(12),.sales_uom .table_section tr td:nth-child(12){width:15%!important;}
.sales_uom .table_section tr th:nth-child(13),.sales_uom .table_section tr td:nth-child(13){width:17%!important;}
.sales_uom .table_section tr th:nth-child(14),.sales_uom .table_section tr td:nth-child(14){width:10%!important;}
.sales_uom_page{background-color: #f5f5f5;padding-bottom: 20px;margin-bottom: 30px;}
input.base_uom, input.sales_uom, .filters th input, input.bundle_qty, input.broken_percentage{width: 100%;padding: 5px;}
input.base_uom, input.sales_uom, input.bundle_qty, input.broken_percentage{border: 0;background-color: unset; text-align: center;}
.filters th input{font-family: 'RobotoCondensed-Light';}
#uom_product_table{margin: 10px auto 35px;}
.sub_product_table .filters, .filters th:first-child input,.filters th:nth-child(6) input, .filters th:nth-child(7) input, .filters th:last-child input, #uom_product_table_length, #uom_product_table_filter, #uom_product_table_info, #uom_product_table_paginate{display:none;}
.modal_import div{text-align:left;}
.modal_import .container{padding:15px;}
.modal_import label{padding-left:10px;}
.import_container, .export_container{display:none; padding:15px;}
.export_container .btn, .import_container .btn{    margin: 20px 10px;}
.import_container #fileUpload{margin: 5px 10px;height: 100%;padding: 10px;background: #f1f1f1;border: 1px solid #D9D9D9;border-radius: 4px;}
.uom_product_table th:nth-child(2), .uom_product_table td:nth-child(2){display:none;}
.sales_uom legend{margin-bottom: 30px;}
.modal_import .container{min-height: 440px;}
.save_img_section, .sales_uom td:last-child .icon{display:block;}
.sales_uom .save_img_section, .sales_uom .inventory_form {display: none;}
.sales_uom  td img, .sales_uom  td a img {max-width: 19px;margin-left: 3px;margin-right: 3px;}
.sales_uom  td a img{margin:0;}
.sales_uom .table_section td:first-child a{margin: 0;width: 100%;}
.sales_uom .save_img_section a{margin: 0;width: 45%!important;}
.sales_uom .reset-btn{margin: 0;padding: 0px 14px!important;}
.product_search_visible{padding: 7px 18px 7px 7px;width:100%;}
.sku_search_visible{padding: 7px 19px 7px 7px;width: 94%;}

#visibility, #bundle_available, #bundle_override, #measurement{padding: 7px 4px;}
#measurement{width: 100%;}
.sales_uom  .measurement_value{width: 100%;padding: 5px 0px;border: 0;background: unset;appearance: none;}
.cancel_customer_page{font-size: 14px!important;}
.search .txt_box{position: relative;}
.importModal{overflow: hidden;display: none;position: fixed;z-index: 1;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.loading {position: fixed;z-index: 999;height: 2em;width: 2em;overflow: visible;margin: auto;top: 0;left: 0;bottom: 0;right: 0;display: none;}
.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgb(0 0 0 / 75%) 1.5em 0 0 0, rgb(0 0 0 / 75%) 1.1em 1.1em 0 0, rgb(0 0 0 / 75%) 0 1.5em 0 0, rgb(0 0 0 / 75%) -1.1em 1.1em 0 0, rgb(0 0 0 / 50%) -1.5em 0 0 0, rgb(0 0 0 / 50%) -1.1em -1.1em 0 0, rgb(0 0 0 / 75%) 0 -1.5em 0 0, rgb(0 0 0 / 75%) 1.1em -1.1em 0 0;
    box-shadow: rgb(0 0 0 / 75%) 1.5em 0 0 0, rgb(0 0 0 / 75%) 1.1em 1.1em 0 0, rgb(0 0 0 / 75%) 0 1.5em 0 0, rgb(0 0 0 / 75%) -1.1em 1.1em 0 0, rgb(0 0 0 / 75%) -1.5em 0 0 0, rgb(0 0 0 / 75%) -1.1em -1.1em 0 0, rgb(0 0 0 / 75%) 0 -1.5em 0 0, rgb(0 0 0 / 75%) 1.1em -1.1em 0 0;
}
/* Animation */

@-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
.importModal .modal-content {padding: 0 !important; width: 800px !important;}
.importModal .modal-content {background-color: #fefefe;margin: 15% auto;padding: 20px;border: 1px solid #888;width: 40%;}
.importModal .modal-content .close_section {background: rgb(110,50,150);padding: 20px;position: relative;}
.importModal .modal-content .close_section h2 {color: #fff;margin: 0;line-height: normal;font-size: 20px;}
.importModal .close {color: #aaa;float: right;font-size: 28px;font-weight: bold;padding: 15px;}
.importModal .content_inner_section {padding: 30px 20px;text-align: left;}
#importModal p {
    margin-top: 0;
    margin-bottom: 20px;
}
.importModal .modal-content p {
    text-align: left;
    margin-top: 1rem;
}
#download_location, #download_warehouse, #download_location, #download_warehouse {
    margin: 0px;
    height: 40px;
    padding: 9px 30px !important;    box-shadow: none;
}#download_location, #download_warehouse {
    display: inline-block;
    padding: 4px 31px;
}
.button_Section #fileUpload {
    margin: 0 20px !important;
    border: 1px solid rgb(110,50,150) !important;
    padding: 6px;
    height: 40px;
    border-radius: .25rem;
}
#upload, #upload_warehouse {
    margin-bottom: 0px !important;
    height: 40px;
    padding: 9px 30px !important;
}
#upload, #upload_warehouse {
    display: inline-block;
    margin: 0px;
}.importModal .close {
    color: #fff !important;
    position: absolute;
    padding: 0 !important;
    top: 20px;
    right: 20px;
    opacity: 1;
    float: right;
    font-size: 28px!important;
    font-weight: bold;
    cursor: pointer;
}
.sales_uom .sync_container{display: inline-block;
width: 78%;
padding-left: 0;
padding-right: 0;padding-bottom: 20px;}
.sales_uom .status_container{text-align: left;}
.sales_uom td:first-child .btn{background-size: 20px;
background-position: center;
background-repeat: no-repeat;
border-radius: 4px;
width: 20px;
height: 32px;
box-shadow: 0px 0px 4px #842ebd;
background-image: url(../images/reset_icon.png);}
.sales_uom .pagination_list li a {
  border: 1px solid #6E3296 !important;
  background-color: #fff;
  color: #6E3296;
  border-color: #6E3296 !important;
  font-weight: 600 !important;
  padding: 6px 13px!important;
  margin: 0px 4px;
  border-radius: 4px !important;
}
.sales_uom .sync_container button.btn.sync-btn{width:24%;}
.pagination{
  /*float: right;*/
}
.sales_uom #pagination-demo{display: table;
width: 92%;
margin: auto!important;
text-align: right;}
.sales_uom  .search .clear {right: 10px; top: 9px;left: auto;display: none;position: absolute;width: 10px;height: 10px;font-size: 95%;cursor: pointer;}
.minus_img_orders {
  display: none;
  cursor: pointer;
}
.plus_img_orders {
  cursor: pointer;
}
#product-child-table{table-layout: fixed;
  border: 0;
  max-width: 100%;
  margin: 0;
}
.detail_list{
  padding: 0;
}
.order_list {
  display: none;
}
.sales_uom td.product_name{text-align:left;}
.header_container .container{max-width: 98%;}
.sales_uom table th{    word-break: break-all;}
/*sales-uom-page*/