/* Font Family includes start*/
 @font-face {
	font-family:'Roboto Condensed',sans-serif;
	src: url("../fonts/glyphicons-halflings-regular.eot");
	src: url("../fonts/glyphicons-halflings-regular.woff") format('woff'), url("../fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("../fonts/glyphicons-halflings-regular.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'ArialNova-Bold';
    src: url('../fonts/ArialNova-Bold.eot');
    src: url('../fonts/ArialNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArialNova-Bold.woff') format('woff'),
        url('../fonts/ArialNova-Bold.ttf') format('truetype'),
        url('../fonts/ArialNova-Bold.svg#ArialNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/AvenirNextLTPro-Regular.eot');
    src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
        url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'RobotoCondensed-BoldItalic';
    src: url('../fonts/RobotoCondensed-BoldItalic.eot');
    src: url('../fonts/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-BoldItalic.woff') format('woff'),
        url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-BoldItalic.svg#RobotoCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'RobotoCondensed-Italic';
    src: url('../fonts/RobotoCondensed-Italic.eot');
    src: url('../fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Italic.woff') format('woff'),
        url('../fonts/RobotoCondensed-Italic.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Italic.svg#RobotoCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.eot');
    src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Light.woff') format('woff'),
        url('../fonts/RobotoCondensed-Light.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Font Family includes End*/


/*Common Css*/
body,header,section,.dashboard_ul{margin:0;padding:0;}
*{color:#333;font-size:15px;line-height:19px;font-family: 'RobotoCondensed-Light';box-sizing:border-box;}
a{color:#333;}
a:hover,a:focus{color:#333;text-decoration:none;}
li{list-style-type:none;}
h1, h2, h3, h4, h5, h6 {font-size: 15px;font-weight: normal;font-family:'ArialNova-Bold';}
.heading{font-size: 25px !important;text-align: center;padding: 10px 0px 8px 0px;line-height: 25px;text-transform: uppercase;font-weight: bold;color: #6E3296;font-family: 'ArialNova-Bold';margin-top:20px !important;}
.txt_box, .search_btn {display: inline-block;}
.btn {padding: 7px 20px !important;margin-left: 5px;color: #fff !important;background-color: rgb(110,50,150) !important;border: 1px solid rgb(110,50,150) !important;font-size:17px !important;line-height:normal;
    box-shadow: 0px 0px 4px #842ebd;}
.rectangle_box span, .square, .square p, .bold_letter, .total_prize_container p {font-weight: normal;font-family:'ArialNova-Bold';}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;}
.btn.focus, .btn:focus,input,.form-input:focus{outline:none !important;box-shadow:none !important}
.btn:hover,.saved:hover,.save_btn:hover,.action .status:hover{background-color:#333 !important;border-color:#333 !important;}
.container {width: 100%;max-width: 1050px !important;margin: 0 auto;}
input:focus,select:focus{outline:none;box-shadow:none !important}
/*Common Css*/

/*header*/
.header_container .container{display:table;padding:15px 0;}
.header_container .left_container{display:table-cell;width:30%;vertical-align:middle;}
.header_container .right_container{display:table-cell;width:70%;vertical-align:middle;text-align:right;}
.header_container .left_container img{max-width:150px;}
.header_container{background:#ddd;}
.header_container .right_container ul li{display:inline-block;vertical-align:middle;padding:2px 10px;}
.header_container .right_container ul{margin:0;}
.header_container .right_container ul li a{text-transform:uppercase;text-decoration:none;font-family:'ArialNova-Bold';font-size:12px;line-height:normal;}
/*header*/

/*Footer*/
.footer_inner_content {display: block;width: 100%;text-align: center;font-size: 15px;font-weight: 600;}
footer {width: 100%;background-color: #ddd;padding:10px 0;}
footer .poweredby_block {font-size: 15px;padding-right: 5px;font-weight: 600;display: inline-block;vertical-align: middle;}
footer .logo_block {padding-right: 0px;display: inline-block;vertical-align: middle;}
footer .logo_block img {max-width: 85px;}
/*Footer*/

/*Dashboard*/
h2.page_heading.dashboard {text-align: center;margin-bottom: 50px;font-size: 25px;padding: 55px 0px 0;line-height: 25px;text-transform: uppercase;font-weight: bold;color:#F9CC08 !important;font-family: 'ArialNova-Bold';margin-top:0;}
.dashboard_ul li{display:inline-block;vertical-align:middle;text-align:center;width:25%;margin:0 20px;background:#f5f5f5;}
.dashboard_ul li a{display:block;width:100%;padding:20px;transition: all .2s ease-out;text-decoration:none;box-shadow: 5px 3px 15px #d0b8b8}
.dashboard_ul li a div.left_section{display:inline-block;width:28%;vertical-align:middle;}
.dashboard_ul li a div.right_section{display:inline-block;width:70%;vertical-align:middle;}
.dashboard_ul{text-align:center;}
.dashboard_ul li a:hover{-webkit-transform: translateY(-3px);transform: translateY(-3px);-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);box-shadow: 0 0px 0px rgba(0,0,0,.1);}
.dashboard_ul li a span{font-family:'ArialNova-Bold';font-size:18px;line-height:normal;display:block;margin-bottom:15px;text-align:center;}
.dashboard_ul li a span.amount_section{font-size:40px;margin-bottom:0;}
.dashboard_ul li a div.left_section svg{width:60px;height:60px;}
.dashboard_ul li:nth-child(1) a div.left_section svg path{fill:#7a3607 !important}
.dashboard_ul li:nth-child(2) a div.left_section svg path{fill:#D9194D !important;}
.dashboard_ul li:nth-child(1){background: #F7DCD1;}
.dashboard_ul li:nth-child(2){background: #F2CCD7;}
.dashboard_ul li a div.left_section svg path{animation: dash 1s;transform-origin: center; transition: all 2s ease-in-out;}
@keyframes dash {
  from {
    opacity: 0;
	transform: scale(0.3);
  }
  50%{
    opacity:0.5;
	width: 30px;
	transform: scale(0.7);
  }
  75%{
    opacity:0.7;
	width: 45px;
	transform: scale(0.8);
  }
  to {
    opacity: 1;
	width: 60px;
	transform: scale(1.0);
  }
}


.header_container .right_container ul li a:hover{color:#6D3495;}
.header_container .right_container ul li a{color:#333;}
/*Dashboard*/

/*spinner css*/
#overlay{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(10, 10, 10, 0.7);z-index: 1000;display: none;}
#overlay_middle{display: table-cell;vertical-align: middle;}
#overlay_container{background: #FFF;max-width: 83px;margin: 0 auto;padding: 20px;text-align: center;}
#overlay_container h3{margin:0;}
#overlay_middle {display: table-cell;vertical-align: middle;}
#overlay_container {max-width: 100;text-align: center;}
#overlay_container img {vertical-align: middle;max-width:300px;}
#overlay #overlay_container {background:transparent;}
	.sk-circle {
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #000; 
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
          background:none!important;
          height: 60px!important;
          min-height: 60px!important;
          width:60px!important;
          min-width:60px!important;
          margin-top:-10%;
}


.spinner1 {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
          background:none!important;
          height: 50px!important;
          min-height: 50px!important;
          width:40px!important;
          min-width:40px!important;

}
.spinnerdocument
{
     -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
          background:none!important;
          height: 60px!important;
          min-height: 60px!important;
          width:60px!important;
          min-width:60px!important;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
/*spinner css*/

/*list-page*/
.calendar-table tr td{padding: 6px 5px !important;}
.sync_container .action-bar{width: 100%;    padding: 0 15px;    text-align: left;}
.sync_container {padding: 20px 20px 0;}
.sync_container button.btn.sync-btn { display: inline-block; width: 20%;padding: 7px 15px !important;}
.sync_container .form_field.form_input_box{width: 30% !important;display: inline-block;margin-right: 23px;}
.sync_container #custom_sync_date{width:100%; display:inline-block;}
.bundle_kit_page .container{max-width: 1100px;}
.form_field.form_input_box.custom_sync_date_div{display:none;}
.daterangepicker td.active, .daterangepicker td.active:hover{    background-color: #6E3296 !important;}
.search_common {width: 100%;}
.form_field.form_input_box { width: 40%;}
.heading {font-size: 25px !important;text-align: center;padding: 10px 0px 8px 0px;line-height: 25px;text-transform: uppercase;font-weight: bold;color:#F9CC08;font-family: 'ArialNova-Bold';margin-top: 0px;}
.filter_container {max-width: 100%;margin: 0px auto;width: 100%;background-color: #f5f5f5;color: #000000;margin-bottom: 20px;padding:20px 20px 0;}
.filter_container .form_field,.filter_container .btn_block{display:inline-block;vertical-align:middle;width:17%;padding:0 15px;}
.filter_container .form_field label{display:block;margin-bottom:4px;}
.filter_container{display:block;margin-bottom:20px;}
.filter_container form{display:inline-block;vertical-align:middle;width:79%;margin:0;}
.filter_container .add_new_block{display:inline-block;vertical-align:middle;width:20%;text-align:right;}
.filter_container .form_field input,.filter_container .form_field select,.sync_container select,.sync_container input{width:100%;padding: 7px 12px;border: 1px solid #edd5fc;font-family: 'RobotoCondensed-Light';height:40px;border-radius:12px;box-shadow:0px 0px 4px #6e3296 !important;}
.filter_container .add_new_block .btn{border-radius: 20px;text-decoration: none;display:inline-block;}
.filter_container .form_field,.sync_container .form_field,.filter_container .btn_block input{cursor:pointer;}
table tr th,table tr td {padding: 12px 5px;text-align: center;}
table {border-collapse: collapse;margin: 10px auto;width: 100%;max-width: 95%;table-layout: fixed;border:1px solid #eee8e8;}
table thead {background: #C0C0C0;border-bottom:1px solid #f0e0e4;}

.table_section tr th:nth-child(1),.table_section tr td:nth-child(1){width:5%;}
.table_section tr th:nth-child(2),.table_section tr td:nth-child(2){width:23%;}
.table_section tr th:nth-child(3),.table_section tr td:nth-child(3){width:12%;}
.table_section tr th:nth-child(4),.table_section tr td:nth-child(4){width:13%;}
.table_section tr th:nth-child(5),.table_section tr td:nth-child(5){width:15%;}
.table_section tr th:nth-child(6),.table_section tr td:nth-child(6){width:14%;}
.table_section tr th:nth-child(7),.table_section tr td:nth-child(7){width:15%;}
.table_section tr th:nth-child(8),.table_section tr td:nth-child(8){width:17%;}
.table_section tr th:nth-child(9),.table_section tr td:nth-child(9){width:17%;}
.table_section tr th:nth-child(10),.table_section tr td:nth-child(10){width:14%;}
.table_section tr th:nth-child(11),.table_section tr td:nth-child(11){width:12%;}

.edit_bundle_kit .table_section tr th:nth-child(1),.edit_bundle_kit .table_section tr td:nth-child(1){width:5%;}
.edit_bundle_kit .table_section tr th:nth-child(2),.edit_bundle_kit .table_section tr td:nth-child(2){width:26%;}
.edit_bundle_kit .table_section tr th:nth-child(3),.edit_bundle_kit .table_section tr td:nth-child(3){width:15%;}
.edit_bundle_kit .table_section tr th:nth-child(4),.edit_bundle_kit .table_section tr td:nth-child(4){width:13%;}
.edit_bundle_kit .table_section tr th:nth-child(5),.edit_bundle_kit .table_section tr td:nth-child(5){width:12%;}
.edit_bundle_kit .table_section tr th:nth-child(6),.edit_bundle_kit .table_section tr td:nth-child(6){width:8%;}
.edit_bundle_kit .table_section tr th:nth-child(7),.edit_bundle_kit .table_section tr td:nth-child(7){width:13%;}
.edit_bundle_kit .table_section tr th:nth-child(8),.edit_bundle_kit .table_section tr td:nth-child(8){width:12%;}
.edit_bundle_kit .table_section tr th:nth-child(9),.edit_bundle_kit .table_section tr td:nth-child(9){width:15%;}
.edit_bundle_kit .table_section tr th:nth-child(10),.edit_bundle_kit .table_section tr td:nth-child(10){width:13%;}
.edit_bundle_kit .table_section tr th:nth-child(11),.edit_bundle_kit .table_section tr td:nth-child(11){width:12%;}

.add_bundle_kit_page .table_section tr th:nth-child(1),.add_bundle_kit_page .table_section tr td:nth-child(1){width:5%;}
.add_bundle_kit_page .table_section tr th:nth-child(2),.add_bundle_kit_page .table_section tr td:nth-child(2){width:26%;}
.add_bundle_kit_page .table_section tr th:nth-child(3),.add_bundle_kit_page .table_section tr td:nth-child(3){width:15%;}
.add_bundle_kit_page .table_section tr th:nth-child(4),.add_bundle_kit_page .table_section tr td:nth-child(4){width:13%;}
.add_bundle_kit_page .table_section tr th:nth-child(5),.add_bundle_kit_page .table_section tr td:nth-child(5){width:12%;}
.add_bundle_kit_page .table_section tr th:nth-child(6),.add_bundle_kit_page .table_section tr td:nth-child(6){width:8%;}
.add_bundle_kit_page .table_section tr th:nth-child(7),.add_bundle_kit_page .table_section tr td:nth-child(7){width:13%;}
.add_bundle_kit_page .table_section tr th:nth-child(8),.add_bundle_kit_page .table_section tr td:nth-child(8){width:12%;}
.add_bundle_kit_page .table_section tr th:nth-child(9),.add_bundle_kit_page .table_section tr td:nth-child(9){width:15%;}
.add_bundle_kit_page .table_section tr th:nth-child(10),.add_bundle_kit_page .table_section tr td:nth-child(10){width:13%;}
.add_bundle_kit_page .table_section tr th:nth-child(11),.add_bundle_kit_page .table_section tr td:nth-child(11){width:12%;}


.table_section tr td svg{width:22px;height:22px;}
.table_section tr td .delete_icon svg path{fill:#F46B68 !important;}
.table_section tr td .edit_icon svg path{fill:#3E4954 !important;}
.table_section tr td .view_icon svg path{fill:#27AE60 !important;}
.table_section tr td a{margin:0 7px;display:inline-block;}
.table_section tbody tr:nth-child(even){background:#ddd;}
.table_section tbody tr:hover{box-shadow:2px 2px 9px -3px rgb(110 50 132 / 1);
    background: #fff;}
.table_section tbody tr{padding:5px 0;}
table tr th{font-family:'ArialNova-Bold';}
.table_section{margin-bottom:0px;}
input#btn_search {background-image: url("../images/search_icon.png");}
input#btn_reset {background-image: url("../images/reset_icon.png");}
.btn_block input{background-size:20px;background-position:center;background-repeat:no-repeat;border-radius: 50%;width: 20px;height: 40px;box-shadow:0px 0px 4px #842ebd;}
.sync_container .form_field input:focus,.filter_container .form_field input:focus, .filter_container .form_field select:focus,.sync_container select{outline:0;}
.filter_container .form_field select,.sync_container select{appearance:none;background-image: url("../images/arrow.png");background-size:10px;background-position-y:center;background-repeat:no-repeat;background-position-x:95%;cursor:pointer;}
.list_page{background-color: #f5f5f5;padding-bottom:20px;margin-bottom:30px;}
.table_section ul.product_list{display:none;padding:0;margin-bottom:0;max-width: 170px;margin: 5px auto 0;background: #eae6d2;padding: 5px;}
.table_section tr td a.sub_product_list{text-transform:uppercase;background:rgb(110,50,150);color: #fff;padding: 5px 10px;text-decoration: none;font-size: 14px;}
.product_list li::before{content:'';width:9px;height:9px;border-radius:50%;position:absolute;left:0;top:5px;}
li.mandatory::before{background:#007000;}
li.optional::before{background:#fc440e;}
.product_list li{position:relative;text-align: left;padding-left: 20px;}
thead .product_list{display:block !important;max-width:none !important;background:transparent !important;}
thead .product_list li{display:inline-block;}
thead .product_list li.mandatory{margin-right:10px;}
/*list-page*/

/*Edit Page*/
.form_field_container input,.form_field_container select,.form_add_container select{width:100%;padding: 7px 12px;border: 1px solid  #edd5fc;font-family: 'RobotoCondensed-Light';height:40px;border-radius:12px;box-shadow:0px 0px 4px #6e3296 !important;display:inline-block;vertical-align:middle;width:250px;}
.form_field_container label,.form_add_container label{width:20%;display:inline-block;vertical-align:middle;margin-bottom:0;}
.form_field_container{margin-bottom:20px;}
.add_page_container{width:100%;max-width:85%;margin:0 auto 40px;padding:20px;box-shadow:0px 0px 4px #dedbe1;}
.form_add_container .btn {border-radius: 20px;text-decoration: none;display: inline-block;}
.form_add_container select{margin:0 15px;}
.add_page_container select{appearance:none;background-image: url("../images/arrow.png");background-size:10px;background-position-y:center;background-repeat:no-repeat;background-position-x:95%;cursor:pointer;}
.table_section .sub_product_table tbody tr{background:#f5f5f5;}
.table_section .sub_product_table tbody tr:nth-child(even){background:#ddd;}
.table_section .sub_product_table{max-width:100%;margin:0 auto 20px;}
.add_bundle_table table tr td form,table.sub_product_table tr td form{margin-bottom:0;vertical-align:middle}
input[type=checkbox]:before {content: "\2714";font-size: 12px;color: transparent !important;background: #fff !important;width: 25px;height: 25px;border: 1px solid black;margin-right: 5px;padding: 2px 4px;cursor: pointer;}
input[type=checkbox]:checked:before {color: rgb(110,50,150) !important;}
.expand_section{display:inline-block;}
.button_block .btn{text-align:center;border-radius: 20px;text-decoration: none;display: inline-block;cursor:pointer;}
.button_block {display:block;text-align:center;margin-bottom:20px;}
label{font-weight:bold;}
.view_page .table_section .sub_product_table{max-width:100%;margin-top:20px;}
.table_section .sub_product_table tbody tr:hover {box-shadow: 2px 2px 9px -3px rgb(110 50 132 / 1);background: #fff;}
.table_section .action-bar{text-align:right;margin-bottom:10px}
input[name="product_qty"] ,input[name="adjusted_price"]{width:100%;padding:0px 5px}
/*Edit Page*/

/*View popup*/
.modal .add_page_container{max-width:100%;}
.modal-dialog{max-width:700px !important;}
.modal.show .modal-dialog{transform: translate(10px, 22%) !important;}
.close{position:absolute;top:10px;right:10px;font-size: 15px !important;color: #333 !important;opacity: 1 !important;}
.close:focus{outline:none;}
/*View popup*/


/*Footer*/
.footer_inner_content{display:inline-block;width:50%;vertical-align:middle;text-align:left;}
.footer_inner_content:last-child{margin-left:-4px;text-align:right;}
.footer_inner_content:last-child img{max-width:150px;}
#tl_popupSECEV{line-height:0;z-index:999 !important;}

.header_container .container{padding:15px;}
/*Footer*/
.form_field_container{text-align:left;}
.form_add_container{text-align:left;}
/*Pagination*/
/*#pagination-demo{margin-left: 467px;}*/
.pagination{margin-bottom:20px;}
.pagination_list{list-style:none;margin:0 !important;display:block;text-align:center;padding:0px !important;}
.pagination_list li{display:inline-block;width:auto;padding: 0 0px;cursor: pointer;}
.pagination{border:none;padding-top:0 !important;}
.pagination_list li a{border: 1px solid #6E3296 !important;
background-color: #fff;
color: #6E3296;
border-color: #6E3296 !important;
font-weight: 600 !important;
padding: 10px !important;
border-radius: 0 !important;}
.pagination_list li a:hover{color: #fff !important;
background-color: #6E3296 !important;}
.pagination_list li.active a{color: #fff !important;
background-color: #6E3296 !important;}
/*.pagination_list li.next.pagination_li {float: right;}*/
.pagination {border-top: none !important;}
/*Pagination*/
.ui-menu .ui-menu-item-wrapper:hover, .ui-menu .ui-menu-item-wrapper.ui-state-active {
    color: #fff !important;
    background-color: rgb(110,50,150);
    border: #fff 1px solid;
}
.add_bundle_table{display:none;}
.add_bundle_kit_page .button_block{display:none;}
.ui-widget{ max-height: 300px;    overflow: auto;
    overflow-x: hidden;}
  .ui-widget li:nth-child(n+10) {
      /*display: none;*/
  }
#Bundle_Kit_Name{ width: 100% !important;}
.form_field.form_input_box {
    width: 40% !important;
}
.form_field_container.sku_details .btn{
    border-radius: 20px;
	}
/*#pagination-demo{margin-left: 300px !important;}*/
#pagination-demo {
    text-align: center;}
.edit_bundle_kit .table_section,.add_bundle_kit_page .table_section{width: 100%;max-width: 100%;}
.edit_bundle_kit #Bundle_Kit_Name,.add_bundle_kit_page #Bundle_Kit_Name,.add_bundle_kit_page #Bundle_Kit_SKU,.edit_bundle_kit #Bundle_Kit_SKU{ width: 77% !important;}
.edit_bundle_kit #product_type,.add_bundle_kit_page #product_type{ width: 77% !important;}
.edit_bundle_kit #product_name,.add_bundle_kit_page #product_name,.edit_bundle_kit #sku_type,.add_bundle_kit_page #sku_type{    width: 541px;}
/*.no_adjusted_price{display:none;}
#adjusted_price{display:none;}*/
/*settings page*/
#custom_field_label, #display_view{width:50%;}
/* The switch - the box around the slider */
.switch {position: relative;display: inline-block;width: 39px !important;height: 21px;margin-bottom:0;}
/* Hide default HTML checkbox */
.switch input {opacity: 0;width: 0;height: 0;}
/* The slider */
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 14px;width: 14px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #6E3296;}
input:focus + .slider {box-shadow: 0 0 1px #6E3296;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
input:checked + .slider:before{left:-4px}
/* Rounded sliders */
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
.settings_page .button_block{margin-top:30px;}
.status_container{
background: #C0C0C0;
border: 2px solid rgb(110,50,150);
width: 100%;
height: 50px;
margin-top: 20px;
margin-bottom: 20px;
padding-top: 12px;
padding-left: 20px;
font-size: 20px;
font-weight: 800;
border-radius: 5px;}
img.bundle_reset {
    width: 35px;
    height: 37px;
}
.bundle_kit_main_product {/*background: #6E3296 !important;*/background: center !important;box-shadow: 0px 0px 4px #6e3296 !important;}
.bundle_kit_main_product td{color: #6E3296 !important;font-weight: bold !important;font-size: 17px;/*color: #fff !important;*/}
.label_settings {width: 20%;display: inline-block;vertical-align: top;}
.label_settings_value_common {width: 78%;display: inline-block;}
.label_settings_value {margin-bottom: 10px;margin-right: 0px;}
.add_new_block {
    width: 30%;
    display: inline-block;
    float: right;
}
.status_bar {
    display: inline-block;
    background: #C0C0C0;
    width: 76%;
	padding:11px 20px;
    float: left;
    text-align: left;
}
.status_bar span{color: #000;
    font-size: 15px;
    font-weight: 900;}
.add_new_block a{float: right;}
/*settings page*/
