.heading_addon{
color: #333;
line-height: 1.5;
font-size: 27px;
font-weight: 600;
padding-left: 8px;
    font-family: 'FuturaPT-Heavy';
}
a.cart-remove-custom {float: right;}
.embed_description_option:before{content:unset !important;}
.embed_description{display:block !important;}
.gage_diamonds .product-bundling-view {
    border: 3px solid #c496ef;}
.product-bundling-view {
border: 1px solid #dee2e6!important;}

.product-bundling-view {
box-shadow: 0 0 10px rgb(0 0 0 / 50%);
padding: 10px;
margin-left: 9px;
margin-bottom: 18px;
}
.button--icon svg {
    fill: #757575;
}
.common_div .button:active {
    background-color: transparent;
    border: 1px solid #757575;
    color: #000;
}
.bundle-primary-add, .bundle-primary-remove {
    background-color: #666;
    border-color: #666;
    color: #fff;
}
.form-increment .button {
    margin: 0;
    padding: .21429rem .35714rem;
}
.form-input--incrementTotal-bundle {
    border: 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    height: auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 2.5rem;
}
.main_bundle_section .productView-thumbnails{display:none;}
.productView-img-container {
    position: relative;
    margin: auto;
    max-width: 500px;
    width: 100%;
}
.bundling_section{    float: left;
    background: #F4F9FB;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    border-bottom: none;
    text-align: center;    width: 100%;}
.productView-img-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    font-family: 'object-fit: contain;';
}
.bundling_products .productView-images {
    margin-bottom: 0!important;
	    padding-left: .75rem;
    padding-right: .75rem;
	float: left;
}
article.bundling_products {
    float: left;
}
.main_bundle_section {
    padding: 45px;
}
.bundling_products .productView-image{  width: calc(100% - 64px) !important;float:left !important;    min-height: 0;  display: block !important;}
article.bundling_products.list{text-align:center;
    background: #f5f5f5;box-shadow: 0 0 3px rgb(0 0 0 / 50%);border-bottom: none;display:none;}
.bundling_heading{text-align:left;width:85%;display:inline-block;margin-top: 20px;}
article.bundling_products.list{margin-bottom: 40px;}
.form_action_kit {margin-bottom: 30px;text-align: right;border-top: none;width:100%;float:left;display:none;/*background: #f5f5f5;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);*/}
.form_action_kit input{    display:inline-block;margin-top: 20px;margin-right:50px;}
.gage_diamonds .form_action_kit {margin-bottom: 6px;text-align: right;border-top: none;width:100%;float:left;display:none;    background: unset;
    border: unset;}
.gage_diamonds .form_action_kit input{    display:inline-block;margin-top: 10px;margin-right:0px;text-transform: uppercase;
    background-color: #000;
    border: 0;
    border-radius: 0;
    font-family: FuturaPT-Book;
    font-size: 18px;
    letter-spacing: 1px;
        padding: 22px 22px !important;
    width: auto !important;}

.bundle_mandatory_alert {margin-top: 25px;margin-bottom: 25px;}

.cart-remove-custom {
    background-color: #CCCCCC;
    border-radius: 7px;
   /* width: 20px;*/
    height: 20px;
}
.cart-remove-custom svg{fill:#fff;}
button.swal2-confirm.swal2-styled {
    margin-right: 20px;
}
.gage_diamonds .kit_add_status{display:none;}
.gage_diamonds .productView-options .form-select--small{
max-width: 170px!important;
    padding-left: 15px!important;
    height: 40px!important;
    /* vertical-align: top; */
    background-position: 9.5rem .5rem!important;
    font-size: 15px!important;
}
.swal2-icon.swal2-warning{font-size: 23px !important;}
/*Grid view*/
.bundling_products.grid.grid .productView-images,.productView-details-bundle{width:100%;text-align:center;}
.bundling_products.grid .productView-title {margin-top: 10px;}
.bundling_products.grid .productView-details-bundle {margin-bottom: 12px;}
.bundling_products.grid .piece-quantity-status-controls,.bundling_products.grid .productView-options .form-field{text-align:center;}
.bundling_products.grid .piece-quantity-status-controls .button{margin-bottom:0;}
.bundling_products.grid .productView-details{margin-bottom:0;}
.bundling_products.grid .productView-details{width:100% !important;}​​​​​​​
.bundling_products.grid .productView-details{width:100% !important;}​​​​​​​
.bundling_products.grid .product-bundling-view{vertical-align:middle;}​​​​​​​
.bundling_products.grid .productView-info>:first-child {margin-top: 0;}
.bundling_products.grid .productView-product{padding-bottom:10px;}​​​​​​​
.bundling_products.grid .productView-options .form-field{margin-bottom:10px;}
.bundling_products.grid .product-bundling-view{width:32% !important;}
.bundling_products.grid .productView-images, .productView-details-bundle {width: 100% !important;text-align: center;}
.bundling_products.grid .productView{padding:10px;margin:0}
.bundling_products.grid .product-bundling-view{vertical-align:middle;padding:0 !important}
.bundling_products.grid .productView-info>:first-child{margin-top:10px}
.bundling_products.grid .productView-title {font-size: 21px !important;}
.bundling_products.grid .productView-price {font-size: 22px; margin-bottom: 0rem;}
/*Grid view*/

/*List view*/
.bundling_products.list .productView{display:block;}
.bundling_products.list .productView-images{width:20% !important;}
.bundling_products.list .productView-details-bundle{width:24% !important;   display:inline-block; text-align: left;vertical-align: middle;padding:0px;}
.bundling_products.list .productView-details {width: 74% !important;display:inline-block;float:unset !important;vertical-align: middle;}
.bundling_products.list .product-bundling-view {display: inline-block;width: 90%;background: white;
    padding-left: 20px;padding-right: 20px;}
.bundling_products.list .productView-options form{width: 45% ;display: inline-block;text-align: center;}
.bundling_products.list .productView-options form .bundle_select{display: inline-block;}
.bundling_products.list .form-field.form-field--increments-bundle {display: inline-block; width: 25%;}
.bundling_products.list .common_div {width: 25%;display: inline-block;/* vertical-align: middle; */ margin-left: 10px;}
.kit_add_status img{max-width: 25px;
    display: inline-block;
    margin-right: 5px;
	}
.bundling_products.list .productView-product{border-bottom:none;}
.bundling_products.list .common_section{width: 80%;display: inline-block;text-align: left;}
.bundling_products.list .productView-title {font-size: 16px !important;}
.bundling_products.list .productView-price {font-size: 17px;}

.bundling_products.list .productView-info{margin-bottom:0px;}
.bundling_products.list .productView-info>:first-child{margin-top: 0;}
.bundling_products.list .sku-value{    margin-bottom: 20px;}
.bundling_products.list .productView-product{padding-bottom: 0;}
/*List view*/



@media screen and (max-width: 900px){
.bundling_products.list .common_div,.bundling_products.grid .common_div{width: 100%;    margin-top: 30px;}
.bundling_products.list .productView-options form,.bundling_products.grid .productView-options form {width: 100% !important;display: inline-block;}
.bundling_products.grid .product-bundling-view{width: 45% !important;}
.bundling_products.grid .productView-title {
    font-size: 20px !important;
}
.bundling_products.list .productView-options form{display: block;text-align: center;}
.bundling_products.list .productView-details-bundle{width:100% !important;   display:block; text-align: center;vertical-align: middle;}
.bundling_products.list .common_div {width: 100%;display: block;margin-left: 0px;}
.bundling_products.list .productView-options{text-align:center;}
.bundling_products.list .form-field.form-field--increments-bundle {display: block; width: 100%;}
.bundling_products.list .productView-details{width: 100% !important;}
body.product .productView-options .form-field{text-align:center;    margin-top: 30px;}
}
@media screen and (max-width: 800px){
.cart-remove-custom{position: absolute;top: 1px;right: 0;}


}
@media screen and (max-width: 600px){
/*.bundling_products.list .productView-details-bundle{width: 70% !important;}
.bundling_products.list .productView-options,.bundling_products.grid .productView-options{text-align:center;}
.bundling_products.list .product-bundling-view,.bundling_products.grid .product-bundling-view {display: inline-block;width: 98%;}*/
.bundling_products.grid .productView-details-bundle,.bundling_products.list .productView-details-bundle {width :100% !important;}
.bundling_products.grid .product-bundling-view,.bundling_products.list .product-bundling-view {width: 96% !important;}
.bundling_products.grid .productView-images, .productView-details-bundle,.bundling_products.list .productView-images, .productView-details-bundle{width:100% !important;text-align:center;}
}
@media screen and (max-width: 550px){
.bundling_products .productView-info{text-align: center !important;}
}